.logo {
	float: right;
	width: 200px;
	margin: 30px 50px 49px 68px;
}
.nav-a {
	width: 100px;
	vertical-align: middle;
	float: left;
	padding-left: 200px;
	padding-top: 50px;
	font-size: 40px;
	color: #FFFFFF;
}
.clear {
	clear: both;
}

.background {
	background-color: #56836F
}

.ipsum1 {
	width: 617px;
	padding-left: 40px;
	margin-bottom: 15px;
	padding-top: 15px;
	
}
.ipsum2 {
	width: 617px;
	padding-left: 40px;
	margin-bottom: 15px;
	padding-top: 15px;
}
.maindiv {
	width:617px;
    height:356px;
    margin-top:150px;
    background-color: #FCEE21;
    float:left;
    margin-left:50px;
    font-family: 'Roboto Mono', monospace
}

.image1 {
	float: right;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 12px;
}
.image2{
	float: left;
	padding-right: 30px;
	padding-top: 12px;

}

.maindiv1 {
    float: right;
    width:617px;
    height:356px;
    margin-top:150px;
    background-color: #FCEE21;
    margin-right:50px;
    font-family: 'Roboto Mono', monospace


}

.conteiner {
     /*margin-top: 5px;*/
     margin-left: auto;
     margin-right: auto;
     width: 1400px;
     height: 700px;
     background-color: #56836F

}
.nav{
	width:100%;
}